<div class="container">
  <div class="content">
    <p>It is both with sadness and excitement that I am announcing that I am stepping down as organizer of CODE Norman.
      CODE Norman has met for about 5 years in Norman, OK, when not social distancing.
      I would like to have a final in person meetup to say goodbye, but with social distancing, at this time, it won't
      be possible.
    </p>
    <p>But I would like to meet virtually for a final meetup.</p>
    <p>Once I am resettled I will be starting up something new, so follow me <a
      class="twitter-follow-button" data-size="large" data-show-count="false" href="https://twitter.com/bchirgwin">Follow
      @bchirgwin</a>
    </p>
    <p>Thanks for 5 years</p>
    <p>--Brian Chirgwin</p>
    <br>
    <div class="box">
      <p>Join me online for the last CODE Norman meetup</p>
      <p><span style="font-weight: 800;">Tuesday April 28, 2020 starting at 7:00 pm.</span></p>
      <p>Bring food and drink of your choice.</p>
      <p>I am sure more details will be mentioned about my future plans.</p>
      <a href="https://global.gotomeeting.com/join/758708085">https://global.gotomeeting.com/join/758708085</a>
    </div>
    <br>
    <p>P.S. It also just so happens the that <span style="font-weight: 800;">codenorman.org</span> domain is up for
      renewal soon. This site will self-destruct in about 30 days.</p>
  </div>
</div>
