<script src="app.component.ts"></script>
<app-top-menu></app-top-menu>
<div style="text-align:center;margin-top: 15px;">
  <img width="250" alt="Code Norman Logo" src="../assets/codenorman.jpg">
  <h1>
    Welcome to {{ title }}
  </h1>

  <div class="content-container">
    <div class="meetup-container">
      <h2>Upcoming Meetups</h2>
      <app-meetup class="meetup" [meetup]="meetup" *ngFor="let meetup of meetups"></app-meetup>
    </div>

    <div class="book-container">
      <h2>Current Book Reading</h2>
      <div style="font-weight: bold">You Don't Know JS Yet: Getting Start</div>
      <div>By Kyle Simpson</div>
      <div>
        <a
          href="https://www.amazon.com/gp/product/B084BNMN7T?pf_rd_p=ab873d20-a0ca-439b-ac45-cd78f07a84d8&pf_rd_r=R1XGZXZTTN9K9TV41T01" target="_blank">Amazon</a>
        <a style="margin-left: 10px" href="https://leanpub.com/ydkjsy-get-started" target="_blank">Leanpub</a>
        <div>Start discussing the book in a few weeks.</div>
        <div>Chapter 1: Discuss on Thursday March 12</div>
      </div>

      <h2>Next Book Reading</h2>
      <div style="font-weight: bold">You Don't Know JS Yet: Scopes and Closures</div>
      <div>By Kyle Simpson</div>
      <div>
<!--        <a href="" target="_blank">Amazon</a>-->
        <a style="margin-left: 10px" href="https://leanpub.com/ydkjsy-scope-closures" target="_blank">Leanpub</a>
        <div></div>
        <div></div>
      </div>
    </div>

    <div class="resource-container">
      <h2>Resources</h2>
      <div class="filter-container">
        <div class="filter-tag" *ngFor="let tag of tags">
          <input [id]="tag" type="checkbox" [name]="tag" checked [value]="tag" (change)="onFilter($event)">
          <label [for]="tag">{{tag}}</label>
        </div>
      </div>
      <app-resource [resource]="resource" *ngFor="let resource of filteredResources"></app-resource>
    </div>
  </div>

  <router-outlet></router-outlet>
</div>
<!--<app-footer></app-footer>-->
