.content-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 10px;
}

.filter-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.filter-container .filter-tag {
  display: inline-block;
  margin: 10px 0 0 10px;
}

.sp-meeting {
  border: firebrick 1px solid;
  border-radius: 10px;
  background-color: whitesmoke;
  color: #8D2F23;
}

.sp-meeting-title {
  font-weight: bold;
  background-color: #212027;
  color: #f22f08;
}

.meetup-container {

}

.book-container {

}

.resource-container {

}
