.center {
  display: flex;
  flex-direction: column;
}

.content-container {
  display: flex;
  justify-content: space-evenly;
}

.meetup-container {

}

.book-container {

}

.resource-container {

}
